<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Login</h1>
        <form action="">
        <input type="text" name="username" id="username" br>
        <input type="password" name="password" id="password" br>
        <button type=""submit>Log IN</button>
        </form>
        <p>
            Dont have an account
            <a href="/register">Register here...</a>
        </p>
    </div>

</body>
</html>