<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Register</h1>
        <form action=""></form>
        <input type="text" name="username" id="username" br>
        <input type="password" name="password" id="password" br>
        <button type=""submit>Register</button>
        </form>
        <p>
            Already have an account
            <a href="/">Login here...</a>
        </p>
    </div>
</body>
</html>